body {
    background-color: #a7eaff;
}

.container{
    background-color: #a7eaff;
}

.container-halaman1 {
    background-color: #a7eaff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.a-halaman1{
    background-color: rgb(255, 255, 255);
    color: rgb(2, 19, 117);
    text-decoration: none;
    font-size: 20px;
    width: 500px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
}

.img-halaman1{
    width: 50%;
    height: 50%;
}

.ul-pil1{
    display: flex;
    height: 0px;
    justify-content: center;
    align-items: center;
}

.li-pil1{
    background-color: rgb(255, 255, 255);
    color: rgb(2, 19, 117);
    text-decoration: none;
    font-size: 25px;
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: line;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    margin: 50px;
    list-style-type: none;
}

.li-pil1:hover {
    background-color: rgb(189, 242, 255);
    transition: .5s ease-in-out;
    transition-delay: .1s;
    border-radius: 10px;
}

.a-pil1{
    color: rgb(2, 19, 117);
    text-decoration: none;
    font-weight: 500;
}

.a-pil2{
    color: rgb(2, 19, 117);
    text-decoration: none;
    font-weight: 500;
}

.a-pil3{
    color: rgb(2, 19, 117);
    text-decoration: none;
    font-weight: 500;
}

.container-halaman2 {
    background-color: #a7eaff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.a-halaman2{
    background-color: rgb(255, 255, 255);
    color: rgb(2, 19, 117);
    text-decoration: none;
    font-size: 20px;
    width: 800px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
}

.img-halaman2{
    width: 50%;
    height: 70%;
}